<h1>Welcome to Adopt! Don't Shop!</h1>

<ul>
  <!-- <li><a href="/user_stories">User Stories</a></li> -->
  <li><a href="/shelters">Shelters</a></li>
  <li><a href="/pets">Pets</a></li> <!-- maybe not have this?-->
</ul>
