<% if @application_pets.count == 0 %>
    <p>No applications for this pet</p>
<% else %>
    <%@application_pets.each do |app| %>
    <%#binding.pry %>
    <%# app.app.name %>

    <%= link_to "#{app.app.name}", "/apps/#{app.id}" %>
    <% end %>
<% end %>
