<% if @application_pets.count == 0 %>
    <p>No applications for this pet</p>
<% else %>
    <%@application_pets.each do |app| %>
    <%= "adoption pending for #{app.app.name}" %>
    <% end %>
<% end %>
