<h2>Active Application(s):</h2>
<% if @application_pets.count == 0 %>
    <p>No applications for this pet</p>
<% else %>
    <%@application_pets.each do |app| %>
    <ul>
      <%= link_to "#{app.app.name}", "/apps/#{app.id}" %>
      <% end %>
    </ul>
<% end %>
