<div class="header-link">
  <%= link_to 'Back To Home', "/" %>
  <%= link_to 'Go to Shelters', "/shelters" %>
  <%= link_to 'Go to Pets', "/pets" %>
</div>


<form action="/shelters/<%= @shelter_id %>/reviews" method="post">
 <input type="hidden" name="authenticity_token" value="<#%= form_authenticity_token %>">
 <p>Title of the review: </p>
 <input type='text' name='review[title]'><br/>
 <p>Rating 1-5: </p>
 <input type='text' name='review[rating]'><br/>
 <p>Review: </p>
 <textarea name='review[content]'></textarea><br/><br/>
 <p>Picture (optional): </p>
 <input type='text' name='review[picture]'/><br/>
 <input type='submit' name='Create Review' value="Create Review"/>

</form>
